body {
  font-family: 'Open Sans', sans-serif; }

#landing {
  background-image: url(../images/banner.jpeg);
  background-size: cover;
  height: 70vh; }
  #landing .navbar-inverse .navbar-nav > .active > a {
    color: #FFF;
    background-color: transparent; }
  #landing .navbar-inverse {
    background-color: transparent;
    border-color: transparent; }
  #landing .navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #f6c05c; }
  #landing li a {
    color: #FFF; }
  #landing .landing-content {
    position: relative;
    top: 21vh;
    text-align: center; }
    #landing .landing-content h1 {
      font-size: 36px;
      font-weight: bold;
      color: #FFF; }
    #landing .landing-content h4 {
      color: #FFF; }
    #landing .landing-content .show-more {
      background-color: #709DCB;
      position: absolute;
      top: 23vh;
      left: 37vw;
      border-color: #FFF; }

#what-we-offer {
  position: relative; }
  #what-we-offer i {
    position: absolute;
    left: -1em;
    color: #709DCB;
    font-size: x-large;
    margin-top: 0.5em;
    margin-left: 1.7em; }
    #what-we-offer i.wrench-color {
      color: #f6c05c; }
  #what-we-offer .heading {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1em; }
    #what-we-offer .heading h3 {
      text-transform: uppercase;
      color: #709DCB;
      font-weight: bold; }
  #what-we-offer .column-spacing {
    padding-left: 4em; }
    #what-we-offer .column-spacing h4 {
      margin-bottom: 0.7em;
      font-weight: bold; }
    #what-we-offer .column-spacing p {
      margin-bottom: 4em; }

#about .about-image-column {
  background-image: url(../images/who-we-are-2.jpg);
  background-size: cover;
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat; }
#about .about-data-column {
  background-color: #f6c05c;
  color: #FFF;
  padding: 5em; }
  #about .about-data-column h3 {
    text-transform: uppercase;
    font-weight: bold; }
  #about .about-data-column p {
    line-height: 28px;
    margin-top: 2em;
    color: #F9E1AC; }
#about .readmore-btn {
  background-color: #E6AC48;
  border: 1px solid rgba(170, 170, 170, 0.53);
  margin-top: 3.7em;
  padding: 12px 28px;
  color: #F9E1AC; }

#portfolio {
  position: relative;
  text-align: center;
  height: 61em;
  width: 101.6em; }
  #portfolio .work-data {
    padding-top: 70px; }
    #portfolio .work-data h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: #709DCB; }
    #portfolio .work-data .border-line {
      border-bottom: solid;
      border-bottom-color: #f6c05c;
      padding-bottom: 0.55em; }
    #portfolio .work-data .cog-fortawesome {
      position: absolute;
      font-size: 1.4em;
      left: 19.3em;
      top: 2.8em;
      color: #f6c05c; }
    #portfolio .work-data p {
      padding-top: 2.5em;
      padding-bottom: 3em; }
    #portfolio .work-data ul li {
      list-style: none;
      margin-right: 4em;
      display: inline; }
    #portfolio .work-data .selected-button {
      background-color: #709DCB;
      padding: 0.2em 1.2em;
      border-radius: 0.45em; }
  #portfolio .images-row div {
    padding: 0; }
  #portfolio .images-row.top-row {
    margin-top: 2em; }
    #portfolio .images-row.top-row .text-image {
      position: relative; }
      #portfolio .images-row.top-row .text-image .text {
        color: #FFF;
        font-weight: bold;
        font-size: 189%;
        position: absolute;
        left: 3em;
        top: 3.8em; }
  #portfolio .images-row img {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 315px; }

#testimonials {
  position: relative;
  text-align: center;
  height: 34em; }
  #testimonials .testimonials-data h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #709DCB;
    padding-top: 2.6em; }
  #testimonials .testimonials-data .border-line {
    border-bottom: solid;
    border-bottom-color: #f6c05c;
    padding-bottom: 0.55em; }
  #testimonials .testimonials-data .comments-symbol {
    position: absolute;
    font-size: 1.4em;
    left: 19.3em;
    top: 5.9em;
    color: #f6c05c;
    padding-bottom: 2.6em; }
  #testimonials .testimonial-data-row {
    margin-top: 6em;
    height: 18em; }
    #testimonials .testimonial-data-row .testimonial-text {
      border: 15px solid #F6F3F4;
      background-color: #F6F3F4;
      text-align: left;
      margin-right: 2em; }
    #testimonials .testimonial-data-row i {
      position: absolute;
      left: 0.8em;
      font-size: 185%;
      color: #68466A; }
    #testimonials .testimonial-data-row .user-name {
      position: absolute;
      left: 5em;
      top: 15em;
      font-size: 1.4vh; }
      #testimonials .testimonial-data-row .user-name span {
        font-weight: bold; }
  #testimonials #myCarousel .carousel-indicators li {
    border-color: #F6F3F4;
    background-color: #F6F3F4; }
    #testimonials #myCarousel .carousel-indicators li.active {
      border-color: #709DCB;
      border-width: 2px;
      background-color: #FFF; }

/*# sourceMappingURL=app.css.map */
