#about {
  .about-image-column {
    background-image: url(../images/who-we-are-2.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center center;
    background-repeat: no-repeat;
    //img.resize {
    //  width: 500px;
    //  height: auto;
    //}
  }

  .about-data-column {
    background-color: $yellow-color;
    color: $secondary-text-color;
    padding: 5em;

    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      line-height: 28px;
      margin-top: 2em;
      color: #F9E1AC;
    }
  }

  .readmore-btn {
    background-color: #E6AC48;
    border: 1px solid rgba(170, 170, 170, 0.53);
    margin-top: 3.7em;
    padding: 12px 28px;
    color: #F9E1AC;
  }
}
